services:
  mongo:
    image: mongo:7
    container_name: news_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  web:
    build: .
    container_name: news_web
    restart: unless-stopped
    depends_on:
      - mongo
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    # ΜΗΝ βάλεις command εδώ που τρέχει scrapers

volumes:
  mongo_data:
