{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <h2 class="mb-3">Σύνδεση Διαχειριστή</h2>

    <form method="post" class="card card-body shadow-sm">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder="admin"
          required
        >
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="1234"
          required
        >
      </div>

      <button class="btn btn-primary w-100">🔐 Login</button>
    </form>
  </div>
</div>
{% endblock %}
